@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Syne', sans-serif;
}

header {
    display: flex;
    margin: 0;
}

.container {
    margin: auto;
    max-width: 80%;
    justify-content: center;
    padding: 0 25px;
    overflow: hidden;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem; 
    border-radius: 5rem;
    border: 1px solid #fff;
    padding: 0;
    margin: 5px 10px;
    font-weight: 500;
}

nav ul {
    margin: 0;
    padding: 0;
}

#branding {
    border-radius: 5rem;
    border: 1px solid #fff;
    color: #fff;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

nav ul li {
    cursor: pointer;
    border-radius: 5rem;
    border: 1px solid #fff;
    padding: 14px;
    margin: 0;
    display: inline;
    list-style: none;
}

#branding a, nav ul li a {
    color: #fff;
    text-decoration: none;
}

#branding:hover, #branding a:hover, nav ul li:hover, nav ul li a:hover {
    color: cadetblue;
    background: #fff;
    text-decoration: none;
    font-weight: 500;
}

#hero {
    height: 50vh;
    position: relative;
    /* width: auto;
    text-align: center; */
    /* background: cadetblue; */
}

#hero:before {
    content: '';
    background: url('../images/hero.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.sections {
    margin: 10px;
    padding: 5px;
}

/* CATEGORIES */
.categories-grid {
    margin: auto;
    text-align: center;
    padding: 0 25px;
}

.categories-item {
    width: 80%;
}

.categories-item img {
    width: 30%;
}

/* FEATURED PRODUCTS */
.featured-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-item {
    /* background: cadetblue; */
    padding: 10px 0;
    width: 250px;
    margin: 20px;
}

.featured-item img {
    width: 100%;
    align-items: center;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    margin: auto;
}

.col-3 img {
    width: 100%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    margin: 2px;
    padding: 2px 2px;
}